body{
    background: rgb(45, 45, 46);
}

#game-area{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    background:rgb(45, 45, 46);
}

.grid-bottom{
    border-bottom: 1px solid  rgb(192, 190, 190);
}

.grid-side{
    border-right: 1px solid  rgb(192, 190, 190);;
}